<h1>Create a Pirate!</h1>
<form action="/pirates" method="post">

  <label for="pirate[name]">Pirate's name:</label>
    <input type="text" name="name" id="pirate[name]" value="pirate[name]"/>

  <label for="pirate[weight]">Pirate's weight:</label>
    <input type="text" name="weight" id="pirate[weight]" value="pirate[weight]"/>

  <label for="pirate[height]">Pirate's height:</label>
    <input type="text" name="height" id="pirate[height]" value="pirate[height]"/>

  <label for="pirate[ships][][name]">Pirate's ship's name:</label>
    <input type="text" name="ship_name_1" id="pirate[ships][][name]" value="pirate[ships][][name]"/>
  <label for="pirate[ships][][type]">Pirate's ship's type:</label>
    <input type="text" name="ship_type_1" id="pirate[ships][][type]" value="pirate[ships][][type]"/>
  <label for="pirate[ships][][booty]">Pirate's ship's booty:</label>
    <input type="text" name="ship_booty_1" id="pirate[ships][][booty]" value="pirate[ships][][booty]"/>

  <label for="pirate[ships][][name]">Pirate's ship's name:</label>
    <input type="text" name="ship_name_2" id="pirate[ships][][name]" value="pirate[ships][][name]"/>
  <label for="pirate[ships][][type]">Pirate's ship's type:</label>
    <input type="text" name="ship_type_2" id="pirate[ships][][type]" value="pirate[ships][][type]"/>
  <label for="pirate[ships][][booty]">Pirate's ship's booty:</label>
    <input type="text" name="ship_booty_2" id="pirate[ships][][booty]" value="pirate[ships][][booty]"//>

  <input type="submit" value="Submit"/>

</form>
